{{! https://github.com/thefrontside/emberx-select }}
{{#if template}}
	{{yield}}
{{else}}
	{{#if placeholder}}
		<option>{{placeholder}}</option>
	{{/if}}
{{! 2016-12-09
Раньше использовал здесь синтаксис #each ... in ...,
однако теперь он не работает, и даже в документации Handlebars больше не упоминается:
http://handlebarsjs.com/builtin_helpers.html#iteration
Короткий синтаксис с this вместо |...| тоже не работает.
}}
	{{#each _optionValues as |option|}}
		{{#x-option value=option.value}}{{option.label}}{{/x-option}}
	{{/each}}
{{/if}}
