<div class='wmd-button-bar' {{bind-attr id=buttonBarId}}></div>
{{textarea id=textareaId value=value autoresize=true rows=rows class='wmd-input'}}
<div class="wmd-preview preview {{unless value 'hidden'}}" {{bind-attr id=previewId}}></div>
